@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #FAFAFA;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.menu-imagem {
    height: 38px;
}

.menu-opções {
    display: flex;
    gap: 32px;
    width: 639px;
    height: 22px;
}

.menu-opções {
    font-family: "Inter", sans-serif;
    color: black;
    font-weight: 500;
    font-size: 18px;
}

.menu-opção4 {
    color: #71A894;
}

.principal {
    display: flex;
}

.principal-seção1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

.principal-seção1-título {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34pt;  
}

.principal-seção1-subtítulo {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.principal-seção1-botão {
    background-color: #71A894;
    width: 219px;
    height: 64px;
    border: none;
    box-shadow: 4px 5px 4px;
}

.principal-seção2-imagem {
    height: 500px;
}
